aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justfy-content: center;
    align-itens: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
    margin: 5px;    
}

@media {
    aside.log img {
        width: 500px;
    }
}